@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=Montserrat:700");
.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center; }

.content .title {
  font-family: Pacifico;
  font-size: 10rem;
  color: #231F20;
  font-weight: 700;
  text-align: center;
  text-shadow: 5px 5px #FAE100;
  padding: 50px 0; }

.content .subtitle {
  font-family: Montserrat;
  font-size: 3rem;
  color: #231F20;
  font-weight: 700;
  text-align: center;
  text-transform: lowercase; }
